<%- include("common/head") %>


    <%-include("common/navbar") %>

        <div class="panel panel-info">
            <div class="panel-heading">
                ADD PROPERTY TYPES
            </div>
            <div class="panel-body">
                <form role="form" action="/addtypeform" method="post" >
                    <div class="form-group">
                        <label>Property Types</label>
                        <input class="form-control" type="text" name="types">
                        <p class="help-block">Help text here.</p>
                    </div>
                    <button type="submit" class="btn btn-info">SUBMIT </button>
                </form>
            </div>
        </div>
        <%-include("common/footer") %>