

<%-include('./common/head') %>



    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Log-In</h1>
                <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod
                    sit. Ipsum diam justo sed rebum vero dolor duo.</p>
            </div>
            <div class="row g-4">
                <div class="col-12">
                    <div class="row gy-4">
                   
                    </div>
                </div>
                <div class="container d-flex align-items-center justify-content-center">
                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.5s">
                 
                            <form action="/loginform"  method="post"> 
                                <div class="row g-3">
                             
                                 
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="subject" placeholder="Subject"  name="email">
                                            <label for="subject">Username</label>
                                        </div>
                                    </div>
                                 
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="subject" placeholder="Subject"  name="password">
                                            <label for="subject">Password</label>
                                        </div>
                                        <% if(queryString.msg=="invaliddetails" ){ %>
                                            <p>*Invalid username or password</p>
                                            <% } %>
                                        
                                    </div>
                                  
                                   
                                  
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">log-in</button>
                                    </div>
                                    <p class="mb-4">Forgot password <a href="/resetpass">Click here</a></p>
                                
                                </div>
                              
                            </form>
                            <div class="container d-flex align-items-center justify-content-center">
                                <p class="mb-4">don't have an account <a href="/register">Register now</a>.</p>  
                                
                            </div>
                           
                        </div>
                       

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->




    <%-include('./common/footer') %>