<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="createStudent" method="post">
        <p>name</p>
        <input type="text" name="name">
        <p>age</p>
        <input type="number" name="age">
        <p>city</p>
        <input type="text" name="city">
        <p>save</p>
        <input type="submit" value="save">
        </form>
        <a href="/viewdetail">view data</a>

</body>
</html>